* {
    margin: 0;
    padding: 0;

    font-family: 'Courier New', monospace;
}

a,
a:active,
a:focus,
a:hover,
a:visited,
a:link {
    text-decoration: none;
    outline: none;
    color: #ddd;
}

li {
    list-style: none;
}

html {
    /* 取消滚动条 */
    overflow: hidden;
}

html,
body {
    width: 100%;
    height: 100%;

    position: relative;
}

#loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    color: #39c5bb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
}

.topContent {
    opacity: 0;
    position: relative;

    width: 340px;
    height: 144px;
    text-align: center;
    overflow: hidden;

    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
}

.topContent ul {
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    border-top: #000 1px solid;
    padding-top: 10px;
}

.topContent li {
    opacity: 0;
    position: relative;

    width: 140px;
    color: #000;
    font-size: 22px;
    transition: all .2s;

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.topContent li:hover {
    padding-bottom: 15px;
    padding-top: 15px;
    color: #39c5bb;
}

.topContent li:hover::after {
    transform: scaleX(1);
    background-color: #39c5bb;
}

.topContent li::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    transform: scaleX(0);
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.6);
}

.topContent p {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #000;
    font-size: 24px;
    margin-bottom: 30px;
}

.topContent h1 {
    color: #000;
    font-size: 54px;
}

.topContent li span{
    pointer-events: none;
}

.body {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
}

.contentP {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.P1 {
    background-color: #39c5bb;
}

.P2 {
    background-color: #ff68f2;
}

.P3 {
    background-color: #d41111;
}