/* 标题出现动画 */
@keyframes appearTitle {
    from {
        opacity: 0;
        top: 70px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

/* 首页内容展开动画 */
@keyframes topContentOpen {
    from {
        height: 144px;
    }

    to {
        height: 400px;
    }
}

/* 首页内容li滑入动画 */
@keyframes topContentLi {
    from {
        opacity: 0;
        top: 40px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

/*  */
/* @keyframes identifier {
    from {}

    to {}
} */